legacy/make-blueprint/6_Social_game_BEKESHER_Обработка фидбека.blueprint.json
{
    "name": "6_Social_game_BEKESHER_Обработка фидбека",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3618850,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Обратная связь"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "webhook",
                        "value": "{{toCollection(1.submission.questions; \"name\"; \"value\")}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "webhook",
                        "type": "any",
                        "label": "webhook"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11385945
            },
            "mapper": {
                "base": "appaO2oANc7aCrEnZ",
                "table": "tblKY4CcNP74fdiuI",
                "formula": "{Telegram_ID} = \"{{4.webhook.telegram_id}}\"",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Соц игра"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Участники"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "2025-CON (User ID: usrBZ9J9DPptgMmse)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "id"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "Никнейм",
                        "type": "text",
                        "label": "Никнейм"
                    },
                    {
                        "name": "Статус",
                        "type": "text",
                        "label": "Статус"
                    },
                    {
                        "name": "Возраст",
                        "type": "number",
                        "label": "Возраст"
                    },
                    {
                        "name": "Оплата получена",
                        "type": "boolean",
                        "label": "Оплата получена"
                    },
                    {
                        "name": "Город",
                        "type": "text",
                        "label": "Город"
                    },
                    {
                        "name": "Регион",
                        "type": "text",
                        "label": "Регион"
                    },
                    {
                        "name": "Гендер",
                        "type": "text",
                        "label": "Гендер"
                    },
                    {
                        "name": "Семейный статус",
                        "type": "text",
                        "label": "Семейный статус"
                    },
                    {
                        "name": "Зачем ты пришёл(а) в игру",
                        "type": "text",
                        "label": "Зачем ты пришёл(а) в игру"
                    },
                    {
                        "name": "Что я жду от игры",
                        "type": "text",
                        "label": "Что я жду от игры",
                        "multiline": true
                    },
                    {
                        "name": "Кого ты хотел(а) бы встретить-Гендер",
                        "type": "text",
                        "label": "Кого ты хотел(а) бы встретить-Гендер"
                    },
                    {
                        "name": "Возраст партнера от",
                        "type": "number",
                        "label": "Возраст партнера от"
                    },
                    {
                        "name": "Возраст партнера до",
                        "type": "number",
                        "label": "Возраст партнера до"
                    },
                    {
                        "name": "Мне близки по духу люди, которые",
                        "type": "array",
                        "label": "Мне близки по духу люди, которые",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Какой формат участия тебе нравится",
                        "type": "array",
                        "label": "Какой формат участия тебе нравится",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Профессия / сфера деятельности",
                        "type": "text",
                        "label": "Профессия / сфера деятельности",
                        "multiline": true
                    },
                    {
                        "name": "Выбери то, что тебя действительно заряжает ",
                        "type": "array",
                        "label": "Выбери то, что тебя действительно заряжает ",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Отметь что тебе особенно важно в людях",
                        "type": "array",
                        "label": "Отметь что тебе особенно важно в людях",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Когда тебе говорят “нет” — как ты обычно реагируешь",
                        "type": "text",
                        "label": "Когда тебе говорят “нет” — как ты обычно реагируешь",
                        "multiline": true
                    },
                    {
                        "name": "Что тебя раздражает в людях?",
                        "type": "text",
                        "label": "Что тебя раздражает в людях?",
                        "multiline": true
                    },
                    {
                        "name": "Как ты относишься к тем, кто отличается (другая культура, стиль, взгляд)",
                        "type": "text",
                        "label": "Как ты относишься к тем, кто отличается (другая культура, стиль, взгляд)",
                        "multiline": true
                    },
                    {
                        "name": "Готов(а) выполнять задания не только в паре, но и в мини-группах",
                        "type": "text",
                        "label": "Готов(а) выполнять задания не только в паре, но и в мини-группах"
                    },
                    {
                        "name": "Разрешаю использовать свои фото с игры для продвижения проекта",
                        "type": "text",
                        "label": "Разрешаю использовать свои фото с игры для продвижения проекта"
                    },
                    {
                        "name": "Что ты хочешь “выиграть” в этой игре",
                        "type": "array",
                        "label": "Что ты хочешь “выиграть” в этой игре",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Готов к повторным встречам",
                        "type": "text",
                        "label": "Готов к повторным встречам"
                    },
                    {
                        "name": "Фото",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Фото"
                    },
                    {
                        "name": "Дата регистрации",
                        "time": false,
                        "type": "date",
                        "label": "Дата регистрации"
                    },
                    {
                        "name": "Telegram_ID",
                        "type": "text",
                        "label": "Telegram_ID"
                    },
                    {
                        "name": "Сообщение игроку",
                        "type": "text",
                        "label": "Сообщение игроку",
                        "multiline": true
                    },
                    {
                        "name": "Лог ошибок",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Лог ошибок"
                    },
                    {
                        "name": "Встречи на сезон",
                        "type": "text",
                        "label": "Встречи на сезон"
                    },
                    {
                        "name": "Номер недели (from Встречи на сезон)",
                        "type": "array",
                        "label": "Номер недели (from Встречи на сезон)"
                    },
                    {
                        "name": "Пары",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Пары"
                    },
                    {
                        "name": "season",
                        "type": "text",
                        "label": "season"
                    },
                    {
                        "name": "season_id",
                        "type": "array",
                        "label": "season_id"
                    },
                    {
                        "name": "Обратная связь",
                        "type": "text",
                        "label": "Обратная связь"
                    },
                    {
                        "name": "Обратная связь 2",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Обратная связь 2"
                    },
                    {
                        "name": "Пары 2",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Пары 2"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 11385945
                            },
                            "filter": {
                                "name": "с фото",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.webhook.`Загрузи фотку с вашей встречи (если хочешь)`[].url}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appaO2oANc7aCrEnZ",
                                "table": "tblNZXFviPy3NZTBb",
                                "record": {
                                    "fld7L0kvqW8Xha4HZ": "{{4.webhook.`Хочешь ли встретиться с этим партнером снова?`}}",
                                    "fld7xg6l7YaU0EL42": [
                                        "{{4.webhook.pair_id}}"
                                    ],
                                    "fldMeCU4ZmWCoCvmx": "{{4.webhook.`Что бы ты хотел/а улучшить в игре`}}",
                                    "fldP0keBVm1JT0q8J": [
                                        {
                                            "url": "{{4.webhook.`Загрузи фотку с вашей встречи (если хочешь)`[].url}}"
                                        }
                                    ],
                                    "fldnijyXJeZUg232p": "{{4.webhook.`Дай оценку этой недели1-Полный отстой     10- Не хочу чтобы она заканчивалась`}}",
                                    "fldphZoF0bmFKltfQ": [
                                        "{{2.id}}"
                                    ],
                                    "fldx7NUXzwInHLyrL": "{{4.webhook.`Что вам понравилось в этой встрече?`}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Соц игра"
                                        },
                                        "table": {
                                            "label": "Обратная связь",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fld7xg6l7YaU0EL42",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Пара"
                                                        },
                                                        {
                                                            "name": "fldphZoF0bmFKltfQ",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Участник"
                                                        },
                                                        {
                                                            "name": "fldnijyXJeZUg232p",
                                                            "type": "number",
                                                            "label": "Оценка"
                                                        },
                                                        {
                                                            "name": "fldP0keBVm1JT0q8J",
                                                            "spec": [
                                                                {
                                                                    "help": "Airtable will download the file at the given url and keep its own copy of it.",
                                                                    "name": "url",
                                                                    "type": "text",
                                                                    "label": "File URL"
                                                                },
                                                                {
                                                                    "help": "If empty, Airtable will generate the name automatically.",
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name"
                                                                }
                                                            ],
                                                            "type": "array",
                                                            "label": "Фото",
                                                            "editable": true
                                                        },
                                                        {
                                                            "name": "fldp6Uud3IKABKaTN",
                                                            "type": "text",
                                                            "label": "Влияние задания",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldx7NUXzwInHLyrL",
                                                            "type": "text",
                                                            "label": "Что понравилось",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld7L0kvqW8Xha4HZ",
                                                            "type": "select",
                                                            "label": "Встретиться снова",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Да",
                                                                    "value": "Да"
                                                                },
                                                                {
                                                                    "label": "Нет",
                                                                    "value": "Нет"
                                                                },
                                                                {
                                                                    "label": "Может быть",
                                                                    "value": "Может быть"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldMeCU4ZmWCoCvmx",
                                                            "type": "text",
                                                            "label": "Что улучшить в игре",
                                                            "multiline": true
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld7L0kvqW8Xha4HZ": {
                                                    "mode": "edit"
                                                },
                                                "fld7xg6l7YaU0EL42": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                },
                                                "fldP0keBVm1JT0q8J": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                },
                                                "fldphZoF0bmFKltfQ": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "2025-CON (User ID: usrBZ9J9DPptgMmse)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld7xg6l7YaU0EL42",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Пара"
                                            },
                                            {
                                                "name": "fldphZoF0bmFKltfQ",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Участник"
                                            },
                                            {
                                                "name": "fldnijyXJeZUg232p",
                                                "type": "number",
                                                "label": "Оценка"
                                            },
                                            {
                                                "name": "fldP0keBVm1JT0q8J",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "File URL"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Фото"
                                            },
                                            {
                                                "name": "fldp6Uud3IKABKaTN",
                                                "type": "text",
                                                "label": "Влияние задания"
                                            },
                                            {
                                                "name": "fldx7NUXzwInHLyrL",
                                                "type": "text",
                                                "label": "Что понравилось"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld7L0kvqW8Xha4HZ",
                                                "type": "select",
                                                "label": "Встретиться снова"
                                            },
                                            {
                                                "name": "fldMeCU4ZmWCoCvmx",
                                                "type": "text",
                                                "label": "Что улучшить в игре"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "НАЗВАНИЕ",
                                        "type": "text",
                                        "label": "НАЗВАНИЕ"
                                    },
                                    {
                                        "name": "Пара",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Пара"
                                    },
                                    {
                                        "name": "Участник",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Участник"
                                    },
                                    {
                                        "name": "Оценка недели",
                                        "type": "number",
                                        "label": "Оценка недели"
                                    },
                                    {
                                        "name": "Фото",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Фото"
                                    },
                                    {
                                        "name": "Влияние задания",
                                        "type": "text",
                                        "label": "Влияние задания",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Что понравилось",
                                        "type": "text",
                                        "label": "Что понравилось",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Встретиться снова",
                                        "type": "text",
                                        "label": "Встретиться снова"
                                    },
                                    {
                                        "name": "Что улучшить в игре",
                                        "type": "text",
                                        "label": "Что улучшить в игре",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Дата ",
                                        "type": "date",
                                        "label": "Дата "
                                    },
                                    {
                                        "name": "Баллы",
                                        "type": "text",
                                        "label": "Баллы"
                                    },
                                    {
                                        "name": "Telegram_ID (from Участник)",
                                        "type": "array",
                                        "label": "Telegram_ID (from Участник)"
                                    },
                                    {
                                        "name": "Участник1",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Участник1"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 12719983
                            },
                            "mapper": {
                                "text": "💚 Спасибо за обратную связь!\r\n\r\nВаша оценка: {{4.webhook.`Дай оценку этой недели1-Полный отстой     10- Не хочу чтобы она заканчивалась`}} ⭐\r\n\r\nМы очень ценим ваше мнение! Это помогает нам улучшать игру 🙏\r\n\r\nДо встречи на следующей неделе! 🌟",
                                "chatId": "{{2.Telegram_ID}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "BEKESHER"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    },
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 11385945
                            },
                            "filter": {
                                "name": "если нет фото",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.webhook.`Загрузи фотку с вашей встречи (если хочешь)`[].url}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appaO2oANc7aCrEnZ",
                                "table": "tblNZXFviPy3NZTBb",
                                "record": {
                                    "fld7L0kvqW8Xha4HZ": "{{4.webhook.`Хочешь ли встретиться с этим партнером снова?`}}",
                                    "fld7xg6l7YaU0EL42": [
                                        "{{4.webhook.pair_id}}"
                                    ],
                                    "fldMeCU4ZmWCoCvmx": "{{4.webhook.`Что бы ты хотел/а улучшить в игре`}}",
                                    "fldnijyXJeZUg232p": "{{4.webhook.`Дай оценку этой недели1-Полный отстой     10- Не хочу чтобы она заканчивалась`}}",
                                    "fldphZoF0bmFKltfQ": [
                                        "{{2.id}}"
                                    ],
                                    "fldx7NUXzwInHLyrL": "{{4.webhook.`Что вам понравилось в этой встрече?`}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Соц игра"
                                        },
                                        "table": {
                                            "label": "Обратная связь",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fld7xg6l7YaU0EL42",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Пара"
                                                        },
                                                        {
                                                            "name": "fldphZoF0bmFKltfQ",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Участник"
                                                        },
                                                        {
                                                            "name": "fldnijyXJeZUg232p",
                                                            "type": "number",
                                                            "label": "Оценка"
                                                        },
                                                        {
                                                            "name": "fldP0keBVm1JT0q8J",
                                                            "spec": [
                                                                {
                                                                    "help": "Airtable will download the file at the given url and keep its own copy of it.",
                                                                    "name": "url",
                                                                    "type": "text",
                                                                    "label": "File URL"
                                                                },
                                                                {
                                                                    "help": "If empty, Airtable will generate the name automatically.",
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name"
                                                                }
                                                            ],
                                                            "type": "array",
                                                            "label": "Фото",
                                                            "editable": true
                                                        },
                                                        {
                                                            "name": "fldp6Uud3IKABKaTN",
                                                            "type": "text",
                                                            "label": "Влияние задания",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldx7NUXzwInHLyrL",
                                                            "type": "text",
                                                            "label": "Что понравилось",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld7L0kvqW8Xha4HZ",
                                                            "type": "select",
                                                            "label": "Встретиться снова",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Да",
                                                                    "value": "Да"
                                                                },
                                                                {
                                                                    "label": "Нет",
                                                                    "value": "Нет"
                                                                },
                                                                {
                                                                    "label": "Может быть",
                                                                    "value": "Может быть"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldMeCU4ZmWCoCvmx",
                                                            "type": "text",
                                                            "label": "Что улучшить в игре",
                                                            "multiline": true
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld7L0kvqW8Xha4HZ": {
                                                    "mode": "edit"
                                                },
                                                "fld7xg6l7YaU0EL42": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                },
                                                "fldP0keBVm1JT0q8J": {
                                                    "mode": "chose"
                                                },
                                                "fldphZoF0bmFKltfQ": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "2025-CON (User ID: usrBZ9J9DPptgMmse)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld7xg6l7YaU0EL42",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Пара"
                                            },
                                            {
                                                "name": "fldphZoF0bmFKltfQ",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Участник"
                                            },
                                            {
                                                "name": "fldnijyXJeZUg232p",
                                                "type": "number",
                                                "label": "Оценка"
                                            },
                                            {
                                                "name": "fldP0keBVm1JT0q8J",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "File URL"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Фото"
                                            },
                                            {
                                                "name": "fldp6Uud3IKABKaTN",
                                                "type": "text",
                                                "label": "Влияние задания"
                                            },
                                            {
                                                "name": "fldx7NUXzwInHLyrL",
                                                "type": "text",
                                                "label": "Что понравилось"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld7L0kvqW8Xha4HZ",
                                                "type": "select",
                                                "label": "Встретиться снова"
                                            },
                                            {
                                                "name": "fldMeCU4ZmWCoCvmx",
                                                "type": "text",
                                                "label": "Что улучшить в игре"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "НАЗВАНИЕ",
                                        "type": "text",
                                        "label": "НАЗВАНИЕ"
                                    },
                                    {
                                        "name": "Пара",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Пара"
                                    },
                                    {
                                        "name": "Участник",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Участник"
                                    },
                                    {
                                        "name": "Оценка недели",
                                        "type": "number",
                                        "label": "Оценка недели"
                                    },
                                    {
                                        "name": "Фото",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Фото"
                                    },
                                    {
                                        "name": "Влияние задания",
                                        "type": "text",
                                        "label": "Влияние задания",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Что понравилось",
                                        "type": "text",
                                        "label": "Что понравилось",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Встретиться снова",
                                        "type": "text",
                                        "label": "Встретиться снова"
                                    },
                                    {
                                        "name": "Что улучшить в игре",
                                        "type": "text",
                                        "label": "Что улучшить в игре",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Дата ",
                                        "type": "date",
                                        "label": "Дата "
                                    },
                                    {
                                        "name": "Баллы",
                                        "type": "text",
                                        "label": "Баллы"
                                    },
                                    {
                                        "name": "Telegram_ID (from Участник)",
                                        "type": "array",
                                        "label": "Telegram_ID (from Участник)"
                                    },
                                    {
                                        "name": "Участник1",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Участник1"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 12719983
                            },
                            "mapper": {
                                "text": "💚 Спасибо за обратную связь!\r\n\r\nВаша оценка: {{4.webhook.`Дай оценку этой недели1-Полный отстой     10- Не хочу чтобы она заканчивалась`}} ⭐\r\n\r\nМы очень ценим ваше мнение! Это помогает нам улучшать игру 🙏\r\n\r\nДо встречи на следующей неделе! 🌟",
                                "chatId": "{{2.Telegram_ID}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "BEKESHER"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": [
            {
                "moduleIds": [
                    2
                ],
                "content": "<p>Найти участника</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    }
}